.follow-btn {
  min-width: 60px;
  min-height: 40px;
  box-sizing: border-box;
  background-color: rgb(85, 15, 159);
  color: white;
  cursor: pointer;
  border-radius: 24px;
  padding: 16px 16px 16px 16px;
  border: 0;
  font-size: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.follow-btn:hover {
  background-color: rgb(56, 10, 106);
}

.follow-btn.following {
  background-color: #111;
}