.form-container {
  min-width: 420px;
  min-height: 550px;
  border-radius: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-icon-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 24px;
}

.form-welcome-msg {
  font-size: 30px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  color: rgb(72, 72, 72);
  margin: 15px;
}

.field-label {
  font-size: 12px;
  padding: 8px 0 5px 32px;
  display: flex;
}

.login-input{
  box-sizing: border-box;
  min-height: 42px;
  min-width: 240px;
  border-radius: 14px;
  border: 2px solid lightgray;
  padding: 10px;
  font-size: 16px;
}

.input-field {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 24px;
}

.login-form-btn {
  width: 240px;
  min-height: 40px;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(85, 15, 159);
  color: white;
  cursor: pointer;
  border-radius: 24px;
  border: 0;
  font-size: 14px;
  font-weight: 400;
}

#form-or-text {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 8px 0;
}

.demo-btn {
  width: 240px;
  min-height: 40px;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(31, 66, 207);
  color: white;
  cursor: pointer;
  border-radius: 24px;
  border: 0;
  font-size: 14px;
  font-weight: 400;
}