#create-pin-main-bg {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
}

#create-pin-content-bg {
  width: 850px;
  height: 100%;
  max-height: 900px;
  background-color: #fff;
  margin-top: 130px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 35px;
  box-shadow: 0 0 10px 0 rgba(210, 210, 210, 0.591);
  display: flex;
  flex-direction: column;
}

#create-pin-top-btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#ellipsis-btn {
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 12px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ellipsis-btn:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

#board-drop-save-btn-holder {
  width: 240px;
  height: 40px;
  display: flex;
}

#create-pin-board-dropdown-btn {
  width: 160px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(238, 238, 238);
}

#create-pin-save-btn {
  width: 70px;
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(85, 15, 159);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-pin-bottom-content-holder {
  display: flex;
  flex-direction: row;
}

#create-pin-left-container {
  width: 270px;
  height: 550px;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  margin-left: 30px;
  margin-right: 10px;
}

#create-pin-right-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 30px;
  position: relative;
}

#create-pin-title {
  font-weight: 600;
  font-size: 36px;
  border: 0;
  height: 48px;
  box-sizing: border-box;
  box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
}

#create-pin-title:focus {
  outline: none;
  border-bottom: 2px solid #93c1f6;
  box-shadow: none;
}

#create-pin-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 35px 0 35px 0;
  font-size: 14px;
  font-weight: 600;
}

#create-pin-user-info> img {
  width: 48px;
  height: 48px;
  margin-right: 8px
}

#create-pin-description {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  min-height: 40px;
  border: 0;
  box-sizing: border-box;
  box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
  padding: 0 26px 0 22px;
  outline: none;
}

#create-pin-description:empty::before {
  content: "Tell everyone what your Pin is about";
  color: #696969;
  font-weight: 300;
}

#create-pin-description:focus {
  outline: none;
  border-bottom: 2px solid #93c1f6;
  box-shadow: none;
}

#cowboy {
  position: absolute;
  top: 180px;
  right: 28px;
  font-size: 28px;
}

#alt-btn-or-text {
  padding: 30px 0;
  min-height: 223px;
}

#add-alt-text-btn {
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
  height: 46px;
  width: 120px;
  border-radius: 24px;
  padding: 14px;
  border: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-alt-text-btn:hover {
  background-color: rgb(215, 215, 215);
}

#alt-text-textbox {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  min-height: 26px;
  border: 0;
  box-sizing: border-box;
  box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
  outline: none;
  display: block;
}

#alt-text-textbox:empty::before {
  content: "Explain what people can see in the Pin";
  color: #999999;
  font-weight: 300;
}

#alt-text-textbox:focus {
  outline: none;
  border-bottom: 2px solid #93c1f6;
  box-shadow: none;
}

#pin-website {
  font-weight: 300;
  font-size: 18px;
  border: 0;
  height: 30px;
  box-sizing: border-box;
  box-shadow: rgba(142, 142, 142, 0.5) 0px 1px 0px 0px;
}