#show-page {
  margin-top: min(90px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

#pin-show-container {
  max-width: 1024px;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
  border-radius: 32px;
  margin-bottom: 30px;
  padding: 16px;
  position: relative;
  cursor: auto;
}

#pin-show-img-container {
  /* overflow: hidden; */
}

#pin-show-img {
  border-radius: 16px 0 0 16px;
}

#pin-info-container {
  margin: 16px 24px;
  display: flex;
  flex-direction: column;
}

#pin-show-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#pin-show-top-bar > #ellipsis-btn {
  padding: 16px;
}

#show-board-drop-save-btn-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#show-pin-board-dropdown-btn {
  width: 100px;
  font-weight: 500;
  font-size: 14px;
} 

#show-pin-save-btn {
  padding: 16px 14px;
  border-radius: 24px;
  color: white;
  background-color: rgb(85, 15, 159);
  cursor: pointer;
}

#show-pin-save-btn:hover {
  background-color: rgb(56, 10, 106);
}

#pin-show-website {
  font-weight: 400;
  text-decoration: underline;
  align-items: center;
}

#pin-show-title {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1.3em;
  margin: 20px 0;
}

#pin-show-description {
  font-weight: 300;
  line-height: 1.2em;
}

#pin-show-creator-info {
  position: absolute;
  bottom: 0;
}